In [27]:
#VacationPy

#Google Places API for this part of the assignment.

#myGoogleAPI = 'AIzaSyAJ6cFrQmG5IC15P-iWuMPiKfvOZiABx_I'

#jupyter-gmaps

import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
import json

In [28]:
%run ./api_keys.ipynb

In [4]:
cities = pd.read_csv('python-api-challenge/citydata.csv')

In [5]:
cities

,Unnamed: 0,lat,lon,name,country,temp_max,temp_min,clouds,visibility,wind,humidity
0,0,42.0970,-79.2353,Jamestown,US,61.00,59.00,1,10000,20.71,72
1,1,55.7435,-97.8558,Thompson,CA,32.00,32.00,75,10000,8.05,69
2,2,-54.8000,-68.3000,Ushuaia,AR,46.40,46.40,40,10000,6.91,71
3,3,-34.5833,150.8552,Flinders,AU,66.00,66.00,5,10000,11.01,43
4,4,42.6001,-73.9662,Albany,US,64.00,60.01,100,10000,2.80,64
...,...,...,...,...,...,...,...,...,...,...,...
546,546,-24.8500,152.3500,Bundaberg,AU,87.80,87.80,62,10000,8.05,42
547,547,-10.1732,31.3694,Mungwi,ZM,59.90,59.90,100,10000,3.18,98
548,548,-13.5927,24.2008,Kabompo,ZM,55.92,55.92,2,10000,5.03,86
549,549,-4.4500,26.6667,Kasongo,CD,65.71,65.71,100,10000,1.74,98
550,550,51.3223,42.7678,Kamenka,RU,37.00,37.00,99,10000,8.01,92

In [6]:
#Humidity heatmap

In [7]:
humidity = cities["humidity"]
locations = cities[["lat", "lon"]]

In [8]:
humidity.dtypes

dtype('int64')

In [9]:
fig = gmaps.figure()

In [10]:
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
vacay_city = cities.loc[(cities["temp_max"] > 70)]

In [46]:
vacay_city

,Unnamed: 0,lat,lon,name,country,temp_max,temp_min,clouds,visibility,wind,humidity
6,6,-23.1203,-134.9692,Rikitea,PF,78.57,78.57,14,10000,12.12,75
13,13,22.0752,-159.3190,Kapaa,US,75.20,71.01,75,10000,17.27,64
16,16,-21.3585,55.7679,Saint-Philippe,RE,78.80,73.40,0,10000,6.91,73
20,20,-10.6167,150.6667,Samarai,PG,83.32,83.32,87,10000,14.05,64
23,23,15.2833,-23.7667,Tarrafal,CV,71.60,71.60,0,10000,12.66,53
...,...,...,...,...,...,...,...,...,...,...,...
534,534,-3.3333,128.9167,Amahai,ID,85.60,85.60,51,10000,5.06,61
535,535,-8.5785,13.6643,Caxito,AO,75.20,75.20,40,9000,4.61,88
542,542,30.9000,75.8500,Ludhiana,IN,91.00,91.00,3,10000,1.07,23
544,544,14.3122,121.1114,Santa Rosa,PH,89.60,88.00,40,10000,4.61,55
546,546,-24.8500,152.3500,Bundaberg,AU,87.80,87.80,62,10000,8.05,42

In [47]:
vacay_city = vacay_city.loc[(cities["temp_max"] < 80)]

In [48]:
vacay_city

,Unnamed: 0,lat,lon,name,country,temp_max,temp_min,clouds,visibility,wind,humidity
6,6,-23.1203,-134.9692,Rikitea,PF,78.57,78.57,14,10000,12.12,75
13,13,22.0752,-159.3190,Kapaa,US,75.20,71.01,75,10000,17.27,64
16,16,-21.3585,55.7679,Saint-Philippe,RE,78.80,73.40,0,10000,6.91,73
23,23,15.2833,-23.7667,Tarrafal,CV,71.60,71.60,0,10000,12.66,53
54,54,19.7297,-155.0900,Hilo,US,75.20,64.99,90,10000,6.91,53
...,...,...,...,...,...,...,...,...,...,...,...
509,509,-23.3500,47.6000,Vangaindrano,MG,71.92,71.92,11,10000,4.41,90
514,514,-32.0350,-52.0986,Rio Grande,BR,73.00,73.00,100,10000,1.01,95
520,520,31.7667,-107.6167,Puerto Palomas,MX,71.60,71.60,1,10000,13.80,8
525,525,-1.5746,9.2618,Omboué,GA,76.91,76.91,100,10000,5.48,90
535,535,-8.5785,13.6643,Caxito,AO,75.20,75.20,40,9000,4.61,88

In [49]:
vacay_city = vacay_city.loc[(cities["clouds"] == 0)]

In [50]:
vacay_city

,Unnamed: 0,lat,lon,name,country,temp_max,temp_min,clouds,visibility,wind,humidity
16,16,-21.3585,55.7679,Saint-Philippe,RE,78.80,73.40,0,10000,6.91,73
23,23,15.2833,-23.7667,Tarrafal,CV,71.60,71.60,0,10000,12.66,53
108,108,16.8634,-99.8901,Acapulco de Juárez,MX,77.04,77.04,0,10000,6.02,71
117,117,27.0167,-100.5167,Lampazos de Naranjo,MX,75.49,75.49,0,10000,6.51,35
120,120,-22.1160,14.2845,Henties Bay,NaN,75.99,75.99,0,10000,1.99,47
125,125,-21.6403,-41.0511,São João da Barra,BR,70.36,70.36,0,10000,3.51,77
135,135,-26.6481,15.1594,Lüderitz,NaN,72.59,72.59,0,10000,7.20,51
170,170,-22.9575,14.5053,Walvis Bay,NaN,75.99,75.99,0,10000,1.99,47
174,174,-20.3297,-40.2925,Vila Velha,BR,73.99,66.20,0,10000,3.44,88
185,185,-22.9661,-42.0278,Arraial do Cabo,BR,74.48,74.48,0,10000,14.50,72
254,254,-25.2406,130.9889,Yulara,AU,73.40,73.40,0,10000,17.27,33
261,261,17.9333,-94.0833,Las Choapas,MX,77.95,77.95,0,10000,4.05,61
263,263,22.6783,-3.9836,Taoudenni,ML,78.87,78.87,0,10000,10.69,17
272,272,-8.2578,-49.2647,Conceição do Araguaia,BR,77.00,77.00,0,10000,3.44,88
317,317,-28.4478,21.2561,Upington,ZA,71.60,71.60,0,10000,8.05,40
405,405,-21.1500,55.2833,Saint-Leu,RE,78.80,73.40,0,10000,6.91,73
406,406,26.5412,-77.0636,Marsh Harbour,BS,75.06,75.06,0,10000,17.83,72
423,423,-35.1667,173.1667,Ahipara,NZ,71.69,71.69,0,10000,5.91,67
445,445,19.1059,37.3321,Sawākin,SD,73.65,73.65,0,10000,11.88,63
463,463,14.9215,-23.5087,Praia,CV,71.60,71.60,0,10000,12.66,53
500,500,-21.3393,55.4781,Saint-Pierre,RE,78.80,75.99,0,10000,6.91,73
507,507,36.2083,-115.9839,Pahrump,US,73.00,70.00,0,10000,1.01,7

In [51]:
vacay_city = vacay_city.loc[(cities["wind"] < 10)]

In [52]:
vacay_city

,Unnamed: 0,lat,lon,name,country,temp_max,temp_min,clouds,visibility,wind,humidity
16,16,-21.3585,55.7679,Saint-Philippe,RE,78.80,73.40,0,10000,6.91,73
108,108,16.8634,-99.8901,Acapulco de Juárez,MX,77.04,77.04,0,10000,6.02,71
117,117,27.0167,-100.5167,Lampazos de Naranjo,MX,75.49,75.49,0,10000,6.51,35
120,120,-22.1160,14.2845,Henties Bay,NaN,75.99,75.99,0,10000,1.99,47
125,125,-21.6403,-41.0511,São João da Barra,BR,70.36,70.36,0,10000,3.51,77
135,135,-26.6481,15.1594,Lüderitz,NaN,72.59,72.59,0,10000,7.20,51
170,170,-22.9575,14.5053,Walvis Bay,NaN,75.99,75.99,0,10000,1.99,47
174,174,-20.3297,-40.2925,Vila Velha,BR,73.99,66.20,0,10000,3.44,88
261,261,17.9333,-94.0833,Las Choapas,MX,77.95,77.95,0,10000,4.05,61
272,272,-8.2578,-49.2647,Conceição do Araguaia,BR,77.00,77.00,0,10000,3.44,88
317,317,-28.4478,21.2561,Upington,ZA,71.60,71.60,0,10000,8.05,40
405,405,-21.1500,55.2833,Saint-Leu,RE,78.80,73.40,0,10000,6.91,73
423,423,-35.1667,173.1667,Ahipara,NZ,71.69,71.69,0,10000,5.91,67
500,500,-21.3393,55.4781,Saint-Pierre,RE,78.80,75.99,0,10000,6.91,73
507,507,36.2083,-115.9839,Pahrump,US,73.00,70.00,0,10000,1.01,7

In [61]:
vacay_city.reset_index(inplace=True)
del vacay_city['index']

In [62]:
vacay_city

,Unnamed: 0,lat,lon,name,country,temp_max,temp_min,clouds,visibility,wind,humidity,Hotel Name
0,16,-21.3585,55.7679,Saint-Philippe,RE,78.80,73.40,0,10000,6.91,73,
1,108,16.8634,-99.8901,Acapulco de Juárez,MX,77.04,77.04,0,10000,6.02,71,
2,117,27.0167,-100.5167,Lampazos de Naranjo,MX,75.49,75.49,0,10000,6.51,35,
3,125,-21.6403,-41.0511,São João da Barra,BR,70.36,70.36,0,10000,3.51,77,
4,174,-20.3297,-40.2925,Vila Velha,BR,73.99,66.20,0,10000,3.44,88,
5,261,17.9333,-94.0833,Las Choapas,MX,77.95,77.95,0,10000,4.05,61,
6,272,-8.2578,-49.2647,Conceição do Araguaia,BR,77.00,77.00,0,10000,3.44,88,
7,317,-28.4478,21.2561,Upington,ZA,71.60,71.60,0,10000,8.05,40,
8,405,-21.1500,55.2833,Saint-Leu,RE,78.80,73.40,0,10000,6.91,73,
9,423,-35.1667,173.1667,Ahipara,NZ,71.69,71.69,0,10000,5.91,67,
10,500,-21.3393,55.4781,Saint-Pierre,RE,78.80,75.99,0,10000,6.91,73,
11,507,36.2083,-115.9839,Pahrump,US,73.00,70.00,0,10000,1.01,7,

In [63]:
vacay_city.drop('Unnamed: 0',
  axis='columns', inplace=True)

/Users/christinemagnotta/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [65]:
vacay_city

,lat,lon,name,country,temp_max,temp_min,clouds,visibility,wind,humidity,Hotel Name
0,-21.3585,55.7679,Saint-Philippe,RE,78.80,73.40,0,10000,6.91,73,
1,16.8634,-99.8901,Acapulco de Juárez,MX,77.04,77.04,0,10000,6.02,71,
2,27.0167,-100.5167,Lampazos de Naranjo,MX,75.49,75.49,0,10000,6.51,35,
3,-21.6403,-41.0511,São João da Barra,BR,70.36,70.36,0,10000,3.51,77,
4,-20.3297,-40.2925,Vila Velha,BR,73.99,66.20,0,10000,3.44,88,
5,17.9333,-94.0833,Las Choapas,MX,77.95,77.95,0,10000,4.05,61,
6,-8.2578,-49.2647,Conceição do Araguaia,BR,77.00,77.00,0,10000,3.44,88,
7,-28.4478,21.2561,Upington,ZA,71.60,71.60,0,10000,8.05,40,
8,-21.1500,55.2833,Saint-Leu,RE,78.80,73.40,0,10000,6.91,73,
9,-35.1667,173.1667,Ahipara,NZ,71.69,71.69,0,10000,5.91,67,
10,-21.3393,55.4781,Saint-Pierre,RE,78.80,75.99,0,10000,6.91,73,
11,36.2083,-115.9839,Pahrump,US,73.00,70.00,0,10000,1.01,7,

In [66]:
hotellist = []

for i in range(len(vacay_city)):
    lat = vacay_city.loc[i]['lat']
    lon = vacay_city.loc[i]['lon']

    params = {
        "location": f"{lat},{lon}",
        "radius": 5000,
        "types" : "hotel",
        "key": gkeys
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
vacay_city["Hotel Name"] = hotellist
vacay_city = vacay_city.dropna(how='any')

<ipython-input-66-c013cf77bf2d>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacay_city["Hotel Name"] = hotellist

In [67]:
vacay_city

,lat,lon,name,country,temp_max,temp_min,clouds,visibility,wind,humidity,Hotel Name
0,-21.3585,55.7679,Saint-Philippe,RE,78.80,73.40,0,10000,6.91,73,
1,16.8634,-99.8901,Acapulco de Juárez,MX,77.04,77.04,0,10000,6.02,71,
2,27.0167,-100.5167,Lampazos de Naranjo,MX,75.49,75.49,0,10000,6.51,35,
3,-21.6403,-41.0511,São João da Barra,BR,70.36,70.36,0,10000,3.51,77,
4,-20.3297,-40.2925,Vila Velha,BR,73.99,66.20,0,10000,3.44,88,
5,17.9333,-94.0833,Las Choapas,MX,77.95,77.95,0,10000,4.05,61,
6,-8.2578,-49.2647,Conceição do Araguaia,BR,77.00,77.00,0,10000,3.44,88,
7,-28.4478,21.2561,Upington,ZA,71.60,71.60,0,10000,8.05,40,
8,-21.1500,55.2833,Saint-Leu,RE,78.80,73.40,0,10000,6.91,73,
9,-35.1667,173.1667,Ahipara,NZ,71.69,71.69,0,10000,5.91,67,
10,-21.3393,55.4781,Saint-Pierre,RE,78.80,75.99,0,10000,6.91,73,
11,36.2083,-115.9839,Pahrump,US,73.00,70.00,0,10000,1.01,7,